
html {
    margin: 0 auto;
    background-color: rgb(148, 148, 148) !important;
}
body {
    
    box-shadow: 0 0 2px rgba(74, 46, 202, 0.253);
     margin: 0 auto;
    width: 80%;
   }
   .maincontent {
      
    background-color: rgb(231, 229, 229) !important;
     padding: 2em 2em 4em;
     min-height: 800px;
   }
   h2 {
   
       color: navy;
       font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
   } 
   h3 {
   
     color:rgb(65, 64, 64);
     font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
   } 
   address {
     font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
   }
   nav{
     position: fixed;
   }
   .navbar {
     width: 100%;
     background-color: rgb(0, 107, 179);
     height: 40px;
     position: sticky;  top: -0.1px; 
     box-shadow: 0 0 2px rgba(74, 46, 202, 0.253);
     
   }
   .header{
     padding-top: 30px;
     padding-bottom: 20px;
     background-color: rgb(53, 53, 88);
     margin: 0px;
     border: 0px;
   }
   .mainheader {
       text-align: left; 
       padding-left: 10px;
     font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;  
     margin: 0px;
     color: white;
   }
   
   h1 {
     color: navy;
     
     font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
   }
   p{
     color: black;
     font-size: 17px;
     font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
   }
   
    .mainbar {
      
     color: white;
     margin: 0px;
     padding: 0px;
     list-style: none;
     font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    }
    
    .mainitem {
     color: white;
     float: left;
     width: 200px; 
     opacity: .8;
     line-height: 40px;
     text-align: center;
     font-size: 20px;
     
    }
    ul {
     color: black;
     font-size: 17px;
     font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    }
    
    .mainitemtext {
     color: white; 
     text-decoration: none;
     display: block; 
     background-color: rgb(0, 107, 179);
     
    }
    
    .mainitemtexthover a:hover {
     background-color:rgba(109, 7, 243, 0.466);
     
    }
    
    .dropitem {
     display: none;
    }
    
    nav ul li:hover ul li {
     display: block;
     
    }
   
    table, th, td {
       border: 2px solid black;
       border-collapse: collapse;
     text-align: left;
     font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
   }
   
   td, th {
     padding: 10px 10px;
     font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
     
   }
   .thefoot {
     min-height: 200px;
     background-color: rgb(54, 54, 54);
     padding-top: 20px;
     border: 0px;
     margin: 0px;
     width: 100%;

   }
   .thefoot p a, .thefoot p  {
       text-align: center;
       text-decoration: none;
    font-size: 20;
    color: rgb(255, 255, 255);
   }